body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #FFD700;
    color: #333;
}

.about-us {
    padding: 60px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.about-content {
    background: white;
    border-radius: 8px;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: slideUp 1s ease-out forwards, fadeIn 1s ease-in-out forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-content:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.about-us h2 {
    font-family: 'Baloo 2', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFD700; /* Gold color */
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-out forwards;
}

.about-us p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin: 0 auto 20px auto;
}

.learn-more-btn {
    display: inline-block;
    background-color: #FFD700; /* Gold color */
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeInUp 1s ease-out forwards;
}

.learn-more-btn:hover {
    background-color: #FFC107;
    transform: scale(1.05);
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .about-us h2 {
        font-size: 2rem;
    }
    .about-us p {
        font-size: 1rem;
    }

    .about-us {
        position: relative !important;
        bottom: 90px !important;
    }
}
