@media (max-width: 768px){
    #logo{
        position: relative;
        right: 80px;
        font-size: 30px;
        letter-spacing: 5px;
    }

    .menu-icon{
        position: relative;
        right: 20px;
    }
}

@media(min-width: 768px){
    #logo{
        position: relative;
        left: 10px;
        font-size: 30px;
        letter-spacing: 5px;
    }
}